* {
	box-sizing: border-box;
/*	padding: 0;
	margin: 0;
*/
}

html, body {
	min-width: 290px;
}

#main-doc {
	position: absolute;
	margin-left: 310px;
	font-family: sans-serif, verdana;
}

header {
	font-size: 1.5em;
}

.main-section {
	margin-bottom: 100px;
	line-height: 22px;
}

#client_configuration {
	
}

.italicText {
	width: 500px;
	text-align: center;
}

#fiscal_calendar {
	
}

#divisions {
	
}

#user_classes {
	
}

#user_groups {
	
}

.redText {
	color: red;
}



#navbar {
	min-width: 290px;
	width: 300px;
	height: 100%;
	float: left;
	background-color: #F1F1F1;
	font-family: sans-serif, verdana;
	position: fixed;
	top: 0px;
	left: 0px;
	border-right: 2px solid black;
}

.nav-div {
	width: 100%;
	height: 75px;
	text-align: center;
	padding-top: 21px;
	border-bottom: 1px solid black;
}

.nav-div:hover {
	background-color: lightgray;
	animation-name: opacity;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}
@keyframes opacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}

.nav-link {
	text-decoration: none;
	color: black;
	font-size: 25px;
}


#h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	text-align: center;
	font-family: Georgia;
	border-bottom: 2px solid black;
}



@media screen and (max-width: 500px) {
	#navbar {
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		min-width: 550px;
		max-height: 425px;
		border-right: none;
	}
	#main-doc {
		position: relative;
		margin-left: 0px;
		margin-top: 450px;
		padding-left: 20px;
		min-width: 480px;
	}
}